# Laboratorio 2

Maria Ines Vasquez Figueroa, 18250

Diana Ximena de Leon Figueroa, 18607

In [27]:
import pandas as pd
import numpy as np
import nltk
import unicodedata
import re
from sklearn.feature_extraction.text import CountVectorizer
import contractions
import re
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
pd.options.display.max_colwidth = 200

In [3]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DIANA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DIANA\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DIANA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\DIANA\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [4]:
df1 = pd.read_csv("enronSpamSubset.csv")
df2 = pd.read_csv("completeSpamAssassin.csv")

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    10000 non-null  int64
 1   Unnamed: 0.1  10000 non-null  int64
 2   Body          10000 non-null  object
 3   Label         10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [6]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\n * * * urgent investor trading alert * * *\n weekly stock pick - - china world trade corp . ( ticker : cwtd )\n * * breaking news * *\n china world trade corp . ...,1
1,5063,5063,"Subject: are you listed in major search engines ?\n submitting your website in search engines may increase\n your online sales dramatically .\n lf you invested time and money into your website , y...",1
2,12564,12564,"Subject: important information thu , 30 jun 2005 .\n subject : important information thu , 30 jun 2005 .\n thank you for using our online store and for your previous order . we have updated our on...",1
3,2796,2796,"Subject: = ? utf - 8 ? q ? bask your life with ? =\n = ? utf - 8 ? q ? individual incremen ? =\n = ? utf - 8 ? q ? t internal secretio ? =\n = ? utf - 8 ? q ? n ? =\n after the 25 years , our phys...",1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things to do\n hello ,\n privacy policy : to\n permanently opt out of our mailings simply\n send a blank email to optout @ bidstogo . biz .\n bidstogo invit...",1

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6046 entries, 0 to 6045
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6046 non-null   int64
 1   Body        6045 non-null   object
 2   Label       6046 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.8+ KB

In [8]:
df2.head()

,Unnamed: 0,Body,Label
0,0,\nSave up to 70% on Life Insurance.\nWhy Spend More Than You Have To?Life Quote Savings\nEnsuring your \n family's financial security is very important. Life Quote Savings makes \n buyin...,1
1,1,1) Fight The Risk of Cancer!\nhttp://www.adclick.ws/p.cfm?o=315&s=pk0072) Slim Down - Guaranteed to lose 10-12 lbs in 30 days\nhttp://www.adclick.ws/p.cfm?o=249&s=pk0073) Get the Child Support You...,1
2,2,1) Fight The Risk of Cancer!\nhttp://www.adclick.ws/p.cfm?o=315&s=pk0072) Slim Down - Guaranteed to lose 10-12 lbs in 30 days\nhttp://www.adclick.ws/p.cfm?o=249&s=pk0073) Get the Child Support You...,1
3,3,##################################################\n# #\n# Adult Club #\n# Offers FREE Membership ...,1
4,4,I thought you might like these:\n1) Slim Down - Guaranteed to lose 10-12 lbs in 30 days\nhttp://www.freeyankee.com/cgi/fy2/to.cgi?l=822slim12) Fight The Risk of Cancer! \nhttp://www.freeyankee.com...,1

In [9]:
frames = [df1, df2]
df_final = pd.concat(frames)

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16046 entries, 0 to 6045
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    16046 non-null  int64
 1   Unnamed: 0.1  10000 non-null  float64
 2   Body          16045 non-null  object
 3   Label         16046 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 626.8+ KB

In [11]:
df_final.head()

,Unnamed: 0,Unnamed: 0.1,Body,Label
0,2469,2469.0,Subject: stock promo mover : cwtd\n * * * urgent investor trading alert * * *\n weekly stock pick - - china world trade corp . ( ticker : cwtd )\n * * breaking news * *\n china world trade corp . ...,1
1,5063,5063.0,"Subject: are you listed in major search engines ?\n submitting your website in search engines may increase\n your online sales dramatically .\n lf you invested time and money into your website , y...",1
2,12564,12564.0,"Subject: important information thu , 30 jun 2005 .\n subject : important information thu , 30 jun 2005 .\n thank you for using our online store and for your previous order . we have updated our on...",1
3,2796,2796.0,"Subject: = ? utf - 8 ? q ? bask your life with ? =\n = ? utf - 8 ? q ? individual incremen ? =\n = ? utf - 8 ? q ? t internal secretio ? =\n = ? utf - 8 ? q ? n ? =\n after the 25 years , our phys...",1
4,1468,1468.0,"Subject: "" bidstogo "" is places to go , things to do\n hello ,\n privacy policy : to\n permanently opt out of our mailings simply\n send a blank email to optout @ bidstogo . biz .\n bidstogo invit...",1

In [12]:
df_final = df_final[['Body','Label']]

In [13]:
df_final.head()

,Body,Label
0,Subject: stock promo mover : cwtd\n * * * urgent investor trading alert * * *\n weekly stock pick - - china world trade corp . ( ticker : cwtd )\n * * breaking news * *\n china world trade corp . ...,1
1,"Subject: are you listed in major search engines ?\n submitting your website in search engines may increase\n your online sales dramatically .\n lf you invested time and money into your website , y...",1
2,"Subject: important information thu , 30 jun 2005 .\n subject : important information thu , 30 jun 2005 .\n thank you for using our online store and for your previous order . we have updated our on...",1
3,"Subject: = ? utf - 8 ? q ? bask your life with ? =\n = ? utf - 8 ? q ? individual incremen ? =\n = ? utf - 8 ? q ? t internal secretio ? =\n = ? utf - 8 ? q ? n ? =\n after the 25 years , our phys...",1
4,"Subject: "" bidstogo "" is places to go , things to do\n hello ,\n privacy policy : to\n permanently opt out of our mailings simply\n send a blank email to optout @ bidstogo . biz .\n bidstogo invit...",1

## Preprocesamiento

In [14]:
df_final['Body'] = df_final['Body'].str.lower()

In [15]:
df_final['Body'] = df_final['Body'].str.strip()

In [16]:
def removerAcentos(texto):
    texto = unicodedata.normalize('NFKD', str(texto)).encode('ascii','ignore').decode('utf-8','ignore')
    return texto

In [17]:
df_final['Body'] = df_final['Body'].apply(removerAcentos)

In [18]:
def removerCaracteresEspecialesNumerosSimbolos(texto, removerDigitos = False):
    patron = r'[^a-zA-Z0-9\s]' if not removerDigitos else r'[^a-zA-Z\s]'
    texto = re.sub(patron, '', texto, re.I|re.A)
    return texto

In [19]:
df_final['Body'] = df_final['Body'].apply(removerCaracteresEspecialesNumerosSimbolos)

In [20]:
df_final['Body'] = df_final['Body'].apply(contractions.fix)

In [21]:
stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # tokenize document
    tokens = nltk.word_tokenize(doc)
    # filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

In [22]:
df_final['Body'] = df_final['Body'].apply(normalize_document)

In [23]:
df_final.head()

,Body,Label
0,subject stock promo mover cwtd urgent investor trading alert weekly stock pick china world trade corp ticker cwtd breaking news china world trade corp enters agreement acquire majority stake ceo c...,1
1,subject listed major search engines submitting website search engines may increase online sales dramatically lf invested time money website simply must submit website oniine otherwise wili invisib...,1
2,subject important information thu 30 jun 2005 subject important information thu 30 jun 2005 thank using online store previous order updated online software store latest version programs full catal...,1
3,subject utf 8 q bask life utf 8 q individual incremen utf 8 q internal secretio utf 8 q n 25 years physical structure tardily arrests carries grave hormone known mortal increase hormone step gover...,1
4,subject bidstogo places go things hello privacy policy permanently opt mailings simply send blank email optout bidstogo biz bidstogo invites visit explore http www bidstogo biz site dedicated plac...,1

## Representación de texto

In [25]:
cv = CountVectorizer(min_df=0.1, max_df=0.9)
cv_matrix = cv.fit_transform(df_final['Body'])
cv_matrix = cv_matrix.toarray()
cv_matrix

array([[0, 0, 1, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 1, ..., 1, 0, 3],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [26]:
# Palabras únicas del corpus
vocabulario = cv.get_feature_names()
# Mostrar el vector
pd.DataFrame(cv_matrix, columns=vocabulario)

,10,2000,2002,also,best,business,cc,click,com,company,...,thanks,time,today,us,use,want,way,well,work,would
0,0,0,1,0,0,4,0,0,0,6,...,0,2,2,0,1,0,0,0,1,1
1,0,0,0,0,1,1,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
2,0,0,0,0,1,0,0,0,2,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16041,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16042,1,0,0,5,0,1,0,0,26,2,...,3,10,0,8,0,0,1,1,1,1
16043,1,0,1,1,1,0,0,3,7,0,...,0,1,0,0,0,0,1,1,0,3
16044,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16045,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
tv = TfidfVectorizer(min_df=0.1, max_df=0.9, use_idf=True)
tv_matrix = tv.fit_transform(df_final['Body'])
tv_matrix = tv_matrix.toarray()

In [30]:
vocabulario = tv.get_feature_names()
pd.DataFrame(np.round(tv_matrix, 2), columns=vocabulario)

,10,2000,2002,also,best,business,cc,click,com,company,...,thanks,time,today,us,use,want,way,well,work,would
0,0.00,0.0,0.09,0.00,0.00,0.38,0.0,0.00,0.00,0.60,...,0.00,0.16,0.2,0.00,0.09,0.00,0.00,0.00,0.10,0.08
1,0.00,0.0,0.00,0.00,0.33,0.33,0.0,0.00,0.00,0.00,...,0.00,0.27,0.0,0.00,0.00,0.32,0.34,0.00,0.00,0.00
2,0.00,0.0,0.00,0.00,0.29,0.00,0.0,0.00,0.49,0.00,...,0.00,0.00,0.0,0.25,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.0,0.00,0.19,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16041,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16042,0.02,0.0,0.00,0.11,0.00,0.02,0.0,0.00,0.53,0.05,...,0.07,0.20,0.0,0.17,0.00,0.00,0.02,0.03,0.02,0.02
16043,0.08,0.0,0.08,0.07,0.08,0.00,0.0,0.24,0.48,0.00,...,0.00,0.07,0.0,0.00,0.00,0.00,0.08,0.08,0.00,0.19
16044,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16045,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00