In [1]:
import pandas as pd
import numpy as np
import nltk
import unicodedata
import re
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DIANA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DIANA\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DIANA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\DIANA\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
df1 = pd.read_csv("enronSpamSubset.csv")
df2 = pd.read_csv("completeSpamAssassin.csv")

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    10000 non-null  int64
 1   Unnamed: 0.1  10000 non-null  int64
 2   Body          10000 non-null  object
 3   Label         10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [5]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063,Subject: are you listed in major search engine...,1
2,12564,12564,"Subject: important information thu , 30 jun 20...",1
3,2796,2796,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things...",1

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6046 entries, 0 to 6045
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6046 non-null   int64
 1   Body        6045 non-null   object
 2   Label       6046 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.8+ KB

In [7]:
df2.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [8]:
frames = [df1, df2]
df_final = pd.concat(frames)

In [9]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16046 entries, 0 to 6045
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    16046 non-null  int64
 1   Unnamed: 0.1  10000 non-null  float64
 2   Body          16045 non-null  object
 3   Label         16046 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 626.8+ KB

In [10]:
df_final.head()

,Unnamed: 0,Unnamed: 0.1,Body,Label
0,2469,2469.0,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063.0,Subject: are you listed in major search engine...,1
2,12564,12564.0,"Subject: important information thu , 30 jun 20...",1
3,2796,2796.0,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468.0,"Subject: "" bidstogo "" is places to go , things...",1

In [11]:
df_final = df_final[['Body','Label']]

In [12]:
df_final.head()

                                                Body  Label
0  Subject: stock promo mover : cwtd\n * * * urge...      1
1  Subject: are you listed in major search engine...      1
2  Subject: important information thu , 30 jun 20...      1
3  Subject: = ? utf - 8 ? q ? bask your life with...      1
4  Subject: " bidstogo " is places to go , things...      1

## Preprocesamiento

In [13]:
df_final['Body'] = df_final['Body'].str.lower()

In [14]:
def removerAcentos(texto):
    texto = unicodedata.normalize('NFKD', str(texto)).encode('ascii','ignore').decode('utf-8','ignore')
    return texto

In [15]:
df_final['Body'] = df_final['Body'].apply(removerAcentos)

In [16]:
def removerCaracteresEspecialesNumerosSimbolos(texto, removerDigitos =False):
    patron = r'[^a-zA-Z0-9\s]' if not removerDigitos else r'[^a-zA-Z\s]'
    texto = re.sub(patron,'', texto)
    return texto

In [17]:
df_final['Body'] = df_final['Body'].apply(removerCaracteresEspecialesNumerosSimbolos)

In [18]:
df_final.head()

                                                Body  Label
0  subject stock promo mover  cwtd\n    urgent in...      1
1  subject are you listed in major search engines...      1
2  subject important information thu  30 jun 2005...      1
3  subject   utf  8  q  bask your life with  \n  ...      1
4  subject  bidstogo  is places to go  things to ...      1

## Representación de texto

In [19]:
cv = CountVectorizer(min_df=0., max_df=1.)
cv_matrix = cv.fit_transform(norm_corpus)
cv_matrix = cv_matrix.toarray()
cv_matrix

NameError: name 'norm_corpus' is not defined

In [ ]:
# Palabras únicas del corpus
vocabulario = cv.get_feature_names()
# Mostrar el vector
pd.DataFrame(cv_matrix, columns=vocabulario)